{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
<div class="container">
    {% block content %}
    {% if user_obj.profile.avatar %}
    <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <a href="{% url 'change' user_obj.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'password_change' user_obj.pk %}" class="btn btn-primary">Смена пароля</a>

    {% include 'partial/post_list.html' %}
    {% endblock %}
</div>