body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    margin: 0 !important;
    padding: 0;
}
.navbar, .footer {
    background-color: transparent !important;
}
.btn-outline-primary, .navbar-brand {
    border-color: white !important;
    color: white !important;
}
.btn-outline-primary:hover {
    background-color: white !important;
    color: #008000 !important;
}
.container {
    margin: auto;
    padding: 5px;
}
@media only screen and (max-width: 1000px) {
  .card {
    width: 100% !important;
    margin: 10px 0 !important;
  }
  .pagination-side {
    display: none !important;
  }
}
@media only screen and (max-width: 400px ){
    .pagination-center {
    display: none !important;
  }
}
.btn-primary {
    background-color: #00008B !important;
    border-color: white !important;
    border-radius: 10px !important;
}
form, .form-control {
    border-color: gray !important;
    border-style: solid;
    padding: 20px !important;
    border-radius: 30px;
}
.form-rm-confirm {
    border-style: none !important;
}
.submit:hover{
    background-color: #ffcc99 !important;
    color: white;
}
a:link {
    text-decoration: none;
}
.card {
    margin-left: 200px;
    margin-right: 200px;
}
footer {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin: 0;
}
.logout-btn {
    border-color: transparent !important;
    padding: 0 !important;
}
.input-logout{
    background-color: transparent;
    border: transparent;
    padding: 0;
}
.form-search {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    border-color: transparent !important;
}
.avatar {
    display: inline-block;
    float: left;
    width: 300px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  width: 240px;
  z-index: 600;
}
.list-group-item {
    border-color: transparent !important;
}
.form-login {
    padding: 30px 0;
    border: 2px solid gray;
    width: 50%;
}
.insta-login {
    display: flex;
    flex-flow: center;
}
.instagram-header {
    text-align: center;
}
.instagram-login {
    border: transparent;
}